# Git Ignore File for APEXCalculus
#
#
## Standard LaTeX files types
*.aux
*.idx
*.ilg
*.ind
*.log
*.out
*.synctex
*.tps
*.tcp
#
## Figure files
*.dep
*.dpth
*.md5
#*.out
#*.log
*.tmp
*.tps

## macOS Finder metadata
*.DS_Store
#
## Don't skip these files
!CalculusI.aux
!CalculusII.aux
!CalculusIII.aux
!Calculus.aux
